.vs/
build/
bin/
obj/
x64/
x86/
Debug/
Release/
*.obj
*.pdb
*.exe
*.dll
*.ilk
*.log
*.tlog
*.idb
*.ipch
*.pch
*.res
*.suo
*.user
*.VC.db
*.VC.opendb
*.preferences
*.preferences.tmp
imgui.ini
imgui_errors.txt
.DS_Store
Thumbs.db
